beautifulsoup4==4.12.3
fastprogress==1.0.3
ffmpeg==1.4
ffmpeg_python==0.2.0
ipython==8.12.3
ipywidgets==8.1.2
jupyter_contrib_nbextensions==0.7.0
matplotlib==3.8.4
moviepy==1.0.3
nbconvert==7.16.4
nbformat==5.10.4
numpy==1.26.4
opencv_python==4.9.0.80
packaging==24.0
pandas==2.2.2
Pillow==10.3.0
plac==1.4.3
protobuf==5.26.1
pygame==2.5.2
pynvml==11.5.0
pynvx==1.0.0
python_color_transfer==0.1.2a0
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.31.0
scipy==1.13.0
selenium==4.20.0
sentencepiece==0.2.0
setuptools==69.5.1
skimage==0.0
spacy==3.7.4
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
torchvision==0.18.0+cu118
tqdm==4.66.4
traitlets==5.14.3
yt_dlp==2024.4.9
