torch==2.3.0
pyyaml==6.0.1
matplotlib==3.8.4
pandas==2.2.2
scipy==1.13.0
requests==2.31.0
fastprogress==1.0.3
torchvision==0.18.0
opencv-python==4.9.0.80
ffmpeg==1.4
yt_dlp==2024.4.9
IPython==8.24.0
python_color_transfer==0.1.2a0
moviepy==1.0.3
scikit-image==0.23.2
pygame==2.5.2
